* {
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
}

body {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-background);
}

body header {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(/imgs/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body header h1 {
  text-align: center;
  color: white;
  
  font-size: 15rem;
  font-family: "Darker Grotesque", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

body header h1 strong{
  font-family: "Darker Grotesque", sans-serif !important;
  font-weight: 700;
}


body header img {
  position: absolute;
  bottom: 10vh;

  width: 5rem;

  transition: .2s;
}

body header img:hover {
  bottom: 9vh;

  transition: .3s;
}

body main {
  height: 95vh;
  width: 80%;
}

/* Registers */
#registers-panel {
  display: flex;

  width: 100%;

  justify-content: center;
  margin-top: -2.5rem;
}

.registers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 15rem;

  background-color: var(--color-background-boxes);
  color: rgb(0,191,76);
  color: linear-gradient(175deg, rgba(0,191,76,1) 0%, rgba(0,150,60,1) 100%);

  border-radius: 0.5rem;
  margin: 0 .5rem;
}

.registers h2, p {
  display: flex;
  align-items: center;
  height: 50%;


  font-weight: 900;
  font-size: 1.4rem;
}

/* Controls */
#control-panel {
  width: 100%;
  height: 5rem;
  margin-top: 5rem;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

#mode-selector {
  position: relative;
  height: 100%;
  width: 175px;
  border-radius: 0.5rem;

  background-color: var(--color-background-boxes);
}

#general-controls {
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.5rem;

  background-color: var(--color-background-boxes);
}

.control-buttons {
  height: 80%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-left: 1px solid #85858523;
}

.control-buttons:first-child {
  border-left: 0px;
}

.control-buttons span {
  font-weight: 500;
  color: rgba(0,150,60,1);
  color: linear-gradient(0deg, rgba(0,191,76,1) 0%, rgba(0,150,60,1) 100%);
  box-shadow: 5px;
}

.control-buttons img {
  margin-left: 0.5rem;
}

/* Input | Flowchart | Main Memory */
#content-box {
  height: 65vh;
  width: 100%;
  margin-top: 5rem;

  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}
  /* Input area */
#input-area {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-memory {
  border-radius: 0.5rem;
  background-color: var(--color-background-boxes);
}

.header {
  height: 3rem;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(0,191,76);
  background-color: linear-gradient(175deg, rgba(0,191,76,1) 0%, rgba(0,150,60,1) 100%);

  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}

.header h2, .text-view{
  width: 90%;
}

.text-view {
  margin-top: 1rem;
}

#text-input {
  height: 70%;

  border-radius: 0.3rem;
  border: 1px solid rgb(0,191,76);
  background-color: transparent;
  outline-color: rgb(0,191,76);
}

#input-buttons {
  height: 4rem;
  width: 100%;
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

#input-buttons button {
  width: 30%;

  border: none;
  border-radius: 0.3rem;

  color: white;
  
  background-color: rgb(0,191,76);
  background-color: linear-gradient(175deg, rgba(0,191,76,1) 0%, rgba(0,150,60,1) 100%);

  transition: .2s;
}

#input-buttons button:last-child {
  border: 1px solid rgb(0,191,76);
  color: rgb(0,191,76);
  background-color: transparent;
}

#input-buttons button:hover {
  cursor: pointer;

  transform: translateY(-0.15rem);
}

  /* Diagrama */
#flowchart {
  width: 100%;

  display: flex;
  flex-direction: column;

  font-size: 1.5rem;
  font-weight: 600;

  gap: 3rem;
}


#fatch-cicle, #execute-cicle {
  height: 50%;
  position: relative;

  border: 2px dashed rgb(0,191,76);
  border-radius: 0.3rem;
}

    /* Register */
.flowchart-registers {
  height: 3rem;
  position: absolute;

  border-radius: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background-boxes);
}

#flowchart-AC {
  top: 1rem;
  left: 25%;

  padding: 0 2rem;
}

#flowchart-MQ {
  top: 1rem;
  right: 25%;

  padding: 0 2rem;
}

#flowchart-CLA {
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flowchart-MBR {
  bottom: 1rem;
  padding: 0 2rem;
  right: 50%;
  transform: translateX(50%);
}

  /* Memória Principal */
#main-memory {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-memory-bank {
  height: 85%;

  font-size: 1.2rem;
  border: none;
  outline: none;
  background-color: transparent;
}